In [2]:
k = [23,1,123,144,144,123324,123]

In [3]:
sorted(k)

[1, 23, 123, 123, 144, 144, 123324]

## Set method with give you a sequence of unique elements i.e. a set in mathematics

In [5]:
set(k)

{1, 23, 123, 144, 123324}

In [10]:
list_of_lists = [[67,2],[2,3],[23,54],[234,1]]

In [11]:
sorted(list_of_lists)

[[2, 3], [23, 54], [67, 2], [234, 1]]

## sorted on list of list will sort the list of list by taking 1st element in all lists inside the main list

In [12]:
list_of_lists

[[67, 2], [2, 3], [23, 54], [234, 1]]

## To sort using other elements we can use itemgetter or lamda

In [19]:
sorted(list_of_lists,key=lambda x: x[1])

[[234, 1], [67, 2], [2, 3], [23, 54]]

In [21]:
from operator import itemgetter
sorted(list_of_lists,key=itemgetter(1))

[[234, 1], [67, 2], [2, 3], [23, 54]]

## checking if we can get length of string also did not know this also works

In [22]:
str_ = '1234'

In [23]:
len(str_)

4

## name, *line = input().split() 

### split will split the input strings by white space and assign it to whatever is present on LHS now we have 2 things on LHS name and *line. name will store first element from input and everything else will get assigned to line

In [24]:
name, *line = input().split()

Pranav 45 78 95 234 6587

In [25]:
name

'Pranav'

In [28]:
line

['45', '78', '95', '234', '6587']

In [29]:
name, *line , val = input().split()

Pranav 45 78 95 234 6587

In [31]:
name, line , val

('Pranav', ['45', '78', '95', '234'], '6587')

In [32]:
str_ = input()

9404f81864

In [33]:
str_

'9404f81864'

In [34]:
num = int(str_)

ValueError: invalid literal for int() with base 10: '9404f81864'

In [35]:
str_ = input()

9404781864

In [36]:
num = int(str_)

In [37]:
num

9404781864

In [38]:
str_

'9404781864'

In [41]:
str_[::-1]

'4681874049'

In [42]:
str_ = '100'

In [43]:
str_ = str_[::-1]

In [44]:
str_

'001'

In [45]:
int(str_)

1

In [46]:
name,email_id = input().split()
username,domain,ext = email_id.split('@','.')

pranav pranavsk08@gmail.com

TypeError: 'str' object cannot be interpreted as an integer

In [48]:
A = 10
A in [1,3,5,7,8,10,12]

True

In [54]:
import random
while True:
    x = random.randint(1,10)
    print(x)
    if x == 5:
        break

8
7
4
2
2
4
10
2
5